<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="height: 350px;width: 450px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{recipe.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <div class="btn-group" dropdown>
            <button id="button-animated" dropdownToggle class="btn btn-primary dropdown-toggle" 
            aria-controls="dropdown-animated" style="cursor: pointer">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-animated">
                <li role="menuitem"><a class="dropdown-item" (click)="onAddShoppingList()" href="#">To Shopping List</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>